@include responsivo('mobile') {
    header {
        .content-header {
            padding: 1.2rem 2.5rem;
           .logo {
            img {
                max-width: 13.5rem;
            }
           }
            .left-content {
                display: none;
            }
            .btn-mobile {
                display: block;
            }
        }
    }

    .s-hero {
        padding-top: 4rem;
        .container {
            .hero-content {
                display: flex;
                flex-direction: column;
                .left {
                    h1 {
                        max-width: 363px;
                        text-align: center;
                        font-size: 3.5rem;
                    }

                    p {
                        font-size: 1.4rem;
                    }

                    .form-email {
                        justify-content: space-between;
                        input {
                            max-width: 15rem;
                            &::placeholder {
                                font-size: 1.4rem;
                            }
                        }
                        .btn-primary {
                            padding: 1.2rem 2rem;
                            font-size: 1.4rem;
                        }
                    }

                    div {
                        img {
                            display: block;
                        }
                    }
                }
                ul {
                    padding: 0 1.5rem;
                    margin-left: 1.5rem;
                    img {
                        display: block;
                        max-width: 36.9rem;
                        margin: 4rem 0;
                    }
                }
                .review {
                    width: 100%;
                    max-width: 29rem;
                    margin: 0 auto;
                    margin-top: 2rem;
                }

                img {
                    display: none;
                }
            }
        }
    }

    .s-recursos {
        .container {
            .top {
                display: flex;
                flex-direction: column;  
                h3 {
                    margin-top: 22rem;
                    font-size: 2.8rem;
                    text-align: center;
                }
                p {
                    font-size: 1.4rem;
                    margin-top: 3rem;
                }
            }
        }
    }

    .all {
        width: 100%;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        padding-bottom: 4rem;
        .card-recurso {
        max-width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        // margin: 0 auto;
            .text {
                text-align: center;
            }
        }
    }

    .s-marketing  {
        padding-top: 4rem;
        padding-bottom: 4rem;
        .container {
            .box {
                    padding: 7rem 1.5rem;
                    height: auto;
                    background-size: contain;
                h2 {
                    font-size: 3.2rem;
                }

                p {
                    font-size: 1.8rem;
                }
            }
        }
    }
}